
.bg {
  background-color: #f7f9fc; /* Light blue-grey background */
  height: 100vh; /* Full height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.card {
  width: 400px; 
  border-radius: 15px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  transition: transform 0.3s;
}
.card:hover{
  transform: scale(1.05)
}


.card-body {
  padding: 10px; 
  background-color: #ffffff; 
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-left: 50px;
}


.form-label12 {
  
  color: #333; 
}


.form-control12 {
  border-radius: 10px; 
  border: 1px solid #ccc; 
  transition: border-color 0.2s; 
  width: 250px;
}


.form-control12:focus {
  border-color: #28a745; 
  outline: none; 
}


.textfield{
  color: #dc3545; 
  margin-top: 5px; 
  font-size: 0.9rem; 
}


.button-success {
  width: 40%; 
  background-color: #1f47b4; 
  border: none; 
  border-radius: 4px; 
  font-weight: bold; 
}

.button-success:hover {
  background-color: #20a1b3; 
}
